.button {
  background-color: #FFF;
  color: #3C3A3A;
  border: none;
  border-radius: 8px;
  padding: 1px 10px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  margin: 4px 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-top: 50px;
}
.container {
  float: right;
}
.jumbotron {
  width:100%;
  height:500px;
  background-image: url("http://www.powerpointhintergrund.com/uploads/2017/05/simple-backgrounds-wallpaper-1920x1080--47273-24.jpeg")
}
.font {
  font-family: "Tangerine", serif;
}
h1 {
  font-size: 80px
}
.header {
  width:100%;
  height:50px;
  background-color: white;
}
